@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
body {
	background-color: #323232;
	background-image: url(RB_Background.png);
	background-repeat: repeat-x;
}


#header {
	height: 81px;
	width: 975px;
	background: transparent;
}
#header #left_block {
	height: 81px;
	width: 30px;
	float: left;
}
#header #center_block {
	height: 81px;
	width: 670px;
	float: left;
}
#header #right_block {
	float: right;
	height: 81px;
	width: 275px;
	background-image: url(RB_DateBlock.png);
	background-repeat: no-repeat;
	background-position: left;
}
#header #center_block #center1 {
	float: left;
	height: 60px;
	width: 185px;
	margin-top: 21px;
	background-image: url(RB_Swirl.png);
}

#header #center_block #center2 {
	background-image: url(RB_Ryan+Jaimie.png);
	float: left;
	height: 60px;
	width: 300px;
	margin-top: 21px;
}
#header #center_block #center3 {
	float: left;
	height: 60px;
	width: 185px;
	margin-top: 21px;
	background-image: url(RB_Swirl2.png);
}

#header #right_block #right2 {
	float: left;
	height: 11px;
	width: 100px;
	margin-top: 70px;
}

#header #right_block #right1 {
	float: left;
	height: 11px;
	width: 175px;
	margin-top: 70px;
}
#webwrapper {
	height: 100%;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
}
#webwrapper #mid_content {
	height: 500px;
	width: 975px;
}
#webwrapper #mid_content #big_spacer {
	float: left;
	height: 500px;
	width: 24px;
}
#webwrapper #mid_content #content {
	float: left;
	height: 500px;
	width: 670px;
	background-image: url(RB_TexturedEdit1.png);
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #FFF;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #FFF;
}
#webwrapper #mid_content #content_right {
	float: left;
	height: 500px;
	width: 145px;
	background-image: url(RB_TexturedSideCon.png);
	background-position: top;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #FFF;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #FFF;
}
#webwrapper #mid_content #content_right #link_blck {
	height: 67px;
	width: 145px;
	padding-top: 33px;
}

#webwrapper #mid_content #big_spacer2 {
	float: left;
	height: 500px;
	width: 97px;
}
#webwrapper #mid_content #content_right #random_blck {
	height: 5px;
	width: 145px;
}
#lower_spacer {
	height: 81px;
	width: 975px;
}
#webwrapper #lower_spacer #lower1 {
	height: 81px;
	width: 365px;
	float: left;
	background-image: url(RB_Swirl3.png);
	background-repeat: no-repeat;
}

#webwrapper #lower_spacer #lower2 {
	height: 81px;
	width: 365px;
	float: left;
	background-image: url(RB_Swirl4.png);
	background-position: right top;
	background-repeat: no-repeat;
}
#webwrapper #lower_spacer #lower3 {
	height: 81px;
	width: 245px;
	float: left;
}
#content_lower {
	height: 300px;
	width: 100%;
	border-top-style: solid;
	border-top-color: #FFF;
	background-color: #202020;
}
#content_lower #bottom_left {
	height: 300px;
	width: 50%;
	float: left;

}
#content_lower #bottom_left #bot1_LTop {
	background-image: url(RB_BotL.png);
	background-position: left top;
	height: 33px;
	width: 19px;
	background-repeat: no-repeat;
	float: left;
}
#content_lower #bottom_left #bot1_MTop {
	height: 33px;
	width: 94.66%;
	float: left;
	background-repeat: repeat-x;
	background-image: url(BotTexture.png);
}


#content_lower #bottom_left #bot1_RTop {
	background-image: url(RB_BotL.png);
	background-position: right top;
	height: 33px;
	width: 19px;
	background-repeat: no-repeat;
	float: left;
}
#content_lower #bottom_left #bot1_Mid {
	height: 234px;
	width: 99.85%;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
}


#content_lower #bottom_left #bot1_LBot {
	background-image: url(RB_BotL.png);
	background-position: left bottom;
	height: 33px;
	width: 19px;
	background-repeat: no-repeat;
	float: left;
}

#content_lower #bottom_left #bot1_MBot {
	height: 33px;
	width: 94.66%;
	float: left;
	background-repeat: repeat-x;
	background-image: url(BotTexture.png);
	background-position: bottom;
}


#content_lower #bottom_left #bot1_RBot {
	background-image: url(RB_BotL.png);
	background-position: right top;
	height: 33px;
	width: 19px;
	background-repeat: no-repeat;
	float: left;
}

#content_lower #bottom_right {
	height: 300px;
	width: 50%;
	float: left;

}

#content_lower #bottom_right #bot2_LTop {
	background-image: url(RB_BotL.png);
	background-position: left top;
	height: 33px;
	width: 19px;
	background-repeat: no-repeat;
	float: left;
}
#content_lower #bottom_right #bot2_MTop {
	height: 33px;
	width: 94.66%;
	float: left;
	background-repeat: repeat-x;
	background-image: url(BotTexture.png);
}


#content_lower #bottom_right #bot2_RTop {
	background-image: url(RB_BotL.png);
	background-position: right top;
	height: 33px;
	width: 19px;
	background-repeat: no-repeat;
	float: left;
}
#content_lower #bottom_right #bot2_Mid {
	height: 234px;
	width: 99.85%;
	float: left;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #FFF;
}


#content_lower #bottom_right #bot2_LBot {
	background-image: url(RB_BotL.png);
	background-position: left bottom;
	height: 33px;
	width: 19px;
	background-repeat: no-repeat;
	float: left;
}

#content_lower #bottom_right #bot2_MBot {
	height: 33px;
	width: 94.66%;
	float: left;
	background-repeat: repeat-x;
	background-image: url(BotTexture.png);
	background-position: bottom;
}


#content_lower #bottom_right #bot2_RBot {
	background-image: url(RB_BotL.png);
	background-position: right top;
	height: 33px;
	width: 19px;
	background-repeat: no-repeat;
	float: left;
}

#footer {
	background-color: #333;
	height: 50px;
	width: 100%;
	position: absolute;
	vertical-align: baseline;
	border-bottom-style: solid;
	border-bottom-color: #000;
	background-image: url(RB_FooterBorder.png);
}
